<!doctype html>
<html ng-app="unterwegsApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../build/unterwegs.css">
  </head>
  <body ng-controller="MainController as ctrl">
    <header>
      <div class="title">    
        Unterwegs
      </div>
    </header>
    <main>
      <ngeo-modal ng-model="ctrl.modalEditAttributeShown" 
        ngeo-modal-destroy-content-on-hide="true">
        <unterwegs-editattribute 
          track="ctrl.track" 
          finish="ctrl.attributeUpdated()" />
      </ngeo-modal>
      <div>
      <unterwegs-edittrackpoint
        unterwegs-edittrackpoint-active="ctrl.editTrackpointActive"
        unterwegs-edittrackpoint-fid="ctrl.trackFidSelected"
        unterwegs-edittrackpoint-map="ctrl.map"
        unterwegs-edittrackpoint-trackfid="ctrl.trackFidSelected"
        unterwegs-edittrackpoint-finish="ctrl.trackpointDeleted()" /> 
      </div>    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <div class="map-container">
              <div id="map" ngeo-map="ctrl.map">
              </div>
              <unterwegs-profile
                unterwegs-profile-type="ctrl.profileType"
                unterwegs-profile-line="ctrl.profileLine"
                unterwegs-profile-map="ctrl.map"
                unterwegs-track-fid="ctrl.trackFidSelected"
                unterwegs-track-source="ctrl.trackSource">
              </unterwegs-profile>
            </div>
          </div>
          <div class="col-md-5">
            <table class="table table-condensed table-hover">
              <thead></thead> 
              <tfoot>
                <tr>
                  <td>
                    <div class="text-center">
                      <ul uib-pagination ng-model= "ctrl.page" 
                        total-items= "ctrl.totalTracks" max-size = 6 
                        items-per-page = 5 num-pages="ctrl.numPages" 
                        ng-change="ctrl.pageChanged()" >
                      </ul>
                    </div>
                  </td>    
                </tr>
              </tfoot>    
              <tbody>
                <tr ng-repeat="track in ctrl.tracks" 
                    ng-mouseenter="ctrl.hover(track.ogc_fid)"
                    ng-click="ctrl.click(track)">
                  <td>
                    <div>{{track.name}} ({{track.file}})
                    <unterwegs-travel-mode mode="{{track.icon}}" />
                    </div>
                    <div>{{track.len / 1000 | number:2}} km 
                      <span ng-show="track.travel_mode_id != 2">
                        ({{track.avg_speed | number:2}} km/h)
                      </span>
                      <span ng-show="track.travel_mode_id == 2">
                        ({{ctrl.velocity_in_min_per_km(track.avg_speed)}} min/km)
                      </span>
                    <div>{{track.start}}-{{track.end}} ({{track.duration}})  
                    </div>
                  </td>    
                </tr>     
              </tbody>    
            </table>
            <i class="material-icons md-14"
               ng-class="{'detail-mode-active': ctrl.detailMode === 'edit'}"
               ng-click="ctrl.edit()">    
              mode_edit
            </i>  
            <i class="material-icons md-14"
               ng-class="{'detail-mode-active': (ctrl.detailMode === 'heartrate')}"
               ng-click="ctrl.profile('heartrate')">    
              favorite
            </i>  
            <i class="fa fa-area-chart" aria-hidden="true"
               ng-class="{'detail-mode-active': (ctrl.detailMode === 'elevation')}"
               ng-click="ctrl.profile('elevation')">  
            </i>
            <i class="material-icons md-14"
               ng-class="{'detail-mode-active': (ctrl.detailMode === 'speed')}"
               ng-click="ctrl.profile('speed')">    
              network_check   
            </i>  
            <div
              ng-show="ctrl.loading"
              class="loading">
              <span class="fa fa-spinner fa-spin"></span>
            </div>
          </div>    
        </div>
      </div> 
    </main>
    <!--load jquery before angular.js -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-gettext/dist/angular-gettext.js"></script> 
    <script src="../node_modules/angular-ui-date/dist/date.js"></script> 
    <script src="../node_modules/ui-bootstrap-custom/ui-bootstrap-custom-tpls-2.1.4.min.js"></script> 
    <script src="../node_modules/d3/d3.js"></script> 
    <script src="../node_modules/angular-float-thead/angular-floatThead.js"></script> 
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/@?main=js/app.js"></script>
    <!-- <script src="../build/unterwegs.js"></script> -->
    <script src="default.js"></script>
  </body>
</html>
