<!doctype html>
<html ng-app="unterwegsApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../build/unterwegs.css">
  </head>
  <body ng-controller="MainController as ctrl">
    <header>
      <div class="title">    
        Unterwegs
      </div>
    </header>
    <main>
      <div>modalEditTrackPointShown: {{ctrl.modalEditTrackPointShown}}</div>
      <ngeo-modal ng-model="ctrl.modalEditAttributeShown" 
        ngeo-modal-destroy-content-on-hide="true">
        <unterwegs-editattribute track="ctrl.track" 
          finish="ctrl.attributeUpdated()" />
      </ngeo-modal>
      <ngeo-modal ng-model="ctrl.modalEditTrackPointShown"
        ngeo-modal-destroy-content-on-hide="true">
        <unterwegs-edittrackpoint trackpoint="ctrl.trackPoint"
          finish="ctrl.trackpointDeleted()" />  
      </ngeo-modal>    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <div class="map-container">
              <div id="map" ngeo-map="ctrl.map"></div>
            </div>
            <i class="material-icons md-14"
               ng-click="ctrl.edit()">    
              mode_edit
            </i>  
          </div>
          <div class="col-md-5">
            <table class="table table-condensed table-hover">
              <thead></thead> 
              <tfoot>
                <tr>
                  <td>
                    <div class="text-center">
                      <ul uib-pagination ng-model= "ctrl.page" 
                        total-items= "ctrl.totalTracks" max-size = 6 
                        items-per-page = 5 num-pages="ctrl.numPages" 
                        ng-change="ctrl.pageChanged()" >
                      </ul>
                    </div>
                  </td>    
                </tr>
              </tfoot>    
              <tbody>
                <tr ng-repeat="track in ctrl.tracks" 
                    ng-mouseenter="ctrl.hover(track.ogc_fid)"
                    ng-click="ctrl.click(track)">
                  <td>
                    <div>{{track.name}} ({{track.file}})
                    <unterwegs-travel-mode mode="{{track.icon}}" />
                    </div>
                    <div>{{track.len / 1000 | number:2}} km 
                      <span ng-show="track.travel_mode_id != 2">
                        ({{track.avg_speed | number:2}} km/h)
                      </span>
                      <span ng-show="track.travel_mode_id == 2">
                        ({{ctrl.velocity_in_min_per_km(track.avg_speed)}} min/km)
                      </span>
                    <div>{{track.start}}-{{track.end}} ({{track.duration}})  
                    </div>
                  </td>    
                </tr>     
              </tbody>    
            </table>
          </div>    
        </div>
      </div> 
    </main>
    <!--load jquery before angular.js -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-gettext/dist/angular-gettext.js"></script> 
    <script src="../node_modules/angular-ui-date/dist/date.js"></script> 
    <script src="../node_modules/ui-bootstrap-custom/ui-bootstrap-custom-tpls-2.1.4.min.js"></script> 
    <script src="../node_modules/angular-float-thead/angular-floatThead.js"></script> 
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/@?main=js/app.js"></script> 
    <!-- <script src="../build/unterwegs.js"></script> --> 
    <script src="default.js"></script>
  </body>
</html>
