<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{eaCtrl.track.file}}</h4>
</div>
<div class="modal-body">
  <form 
    name = "track"
    role = "form"
    ng-submit = "eaCtrl.updateTrack()">
    <div class = "form-group">
      <label for="trackName">Name des Tracks</label>
      <input
        type = "text" 
        class ="form-control"
        name = "trackName"
        ng-model="eaCtrl.track.name"
        placeholder="Track name" />
    </div>
    <div class = "form-group">
      <label for="trackType">Typ des Tracks</label>
      <select 
        class ="form-control"
        name = "trackType"
        ng-model="eaCtrl.track.travel_mode_id"
        ng-options="mode.id as mode.name for mode in eaCtrl.travelModes" 
        placeholder="Typ des Tracks">
      </select>  
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
